# Build results
build/
bin/
obj/

# Visual Studio
.vs/
.vscode/

# etc
*.swp

# Example test results
examples/log
examples/output/**
examples/out/**
examples/ptx/**
examples/bytecode.ll
examples/main.bc
examples/kernel.bc
